/* Header Container */
.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
  position: fixed;  
  width: 100%;      
  top: 0;           
  z-index: 1000;    
  background-color: #fff; 
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}


.header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo-container {
  flex: 1;
  max-width: 100px;
  margin-top: 0px;
}

.logo-container img {
  width: 100%;
  display: block;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  padding: 10px;
}

.menu-link a {
  color: #333;
  text-decoration: none;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.close-icon,
.menu-icon {
  font-size: 24px;
}

/* Checkbox Hack for Mobile Menu */
.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .menu {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.menu-checkbox:checked ~ .menu .menu-link {
  padding: 15px 0;
}

.menu-checkbox:checked ~ .menu-icon {
  display: none;
}

.menu-checkbox:checked ~ .close-icon {
  display: block;
}

body {
  padding-top: 70px; 
}

@media screen and (max-width: 1000px) {
  .menu {
      display: none;
  }

  .mobile-menu {
      display: block;
  }

  
  .menu.active {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .menu.active .menu-link {
      padding: 15px 0;
      width: 100%;
  }
}