.container {
  max-width: 960px;
  margin: 0 auto;
}

.SignUp-bg {
  height: 130vh;
  background: url(/src/component/auth/91.png) repeat;
  background-size: cover;
  
}
.font{font-family: 'prompt';
margin-right: 2cm;
}

.SignUp-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.SignUp-text {
  color: #1776CF;
  text-align: right;
}


.SignUp-text2 {
  color: #888888;
  text-align: right;

}







.SignUp-btn {
  background: #fff;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #333;
  border: 2px solid transparent;
  transition: 0.3s;
  margin-top: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.SignUp-btn:hover {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}


@media screen and (max-width: 480px) {
  .Signup-text {
    padding: 0 2rem;
  }
  .SignUp-bg {
    
    background: url(/src/component/auth/1.png) no-repeat;
    background-position-x: left;
    margin-left: 5vh;
    margin-top: 5vh;
    
  }



  .Signup-text {
    color: #1776cf;
    text-align: center;
    font-family: 'prompt';
    font-size: '20px';
    margin-top: 4vh;
    width: 30vh;
    margin-left: -7vh;
   
  }
  .Signup-text2 {
    color: #888888;
    text-align: right;
    font-family: 'prompt';
    margin-left: 30vh ;
  }
  .formsignup{
    width: 35vh;
    margin-right: 5vh;
    
  }
}
